body {
    background: url("images/transsky.webp") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}



ul.nav {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    display: flex; 
    justify-content: center; 
}
ul.nav li a{
    display: block;
    background-color: pink;
    color: black;
    text-align: center;
    padding: 24px 70px;
    float: left;
    text-decoration: none;
    margin: 5px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
ul.nav li a:hover:not(.active) {
    background-color: #E698C8;
    border-radius: 20px;
}
ul.nav li a.active {
    background-color:#E698C8 ;
}
.textstuff{
    background-color:pink ;
    border-radius: 10px;
    text-align: center;
    margin-top: 50px;
    margin-inline: 100px;
    padding: 15px; 
    outline: 10px solid pink; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 22px;
    font-family: "Raleway", serif;
    line-height: 1.8;

}
.normaltext {
    font-size: 22px;
    font-weight: normal;
}
img {
    
    width: 40%; 
    height: auto; 
}
@font-face {
    font-family: Raleway;
    src: url(Raleway-Regular.ttf) format('truetype');
    
}

summary {
    cursor: pointer !important;
    margin: 0 !important;
}
details {

    padding: 0 !important;
}
